<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Общие параметры -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [traceId=%X{traceId:-NO_TRACE}, spanId=%X{spanId:-NO_SPAN}] %logger{36} - %msg%n"/>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Локи-аппендер (только для prod) -->
    <appender name="LOKI_PROD" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL:-http://localhost:3100}/loki/api/v1/push</url>
            <connectionTimeout>10000</connectionTimeout>
            <requestTimeout>15000</requestTimeout>
        </http>
        <batch>
            <maxItems>500</maxItems>
            <maxBytes>1048576</maxBytes>
            <timeout>3</timeout>
        </batch>
        <format>
            <label>
                <pattern>app=discovery-service,env=prod,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>${LOG_PATTERN}</pattern>
            </message>
        </format>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- Конфигурация для DEV профиля -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>

        <!-- Дополнительные настройки для разработки -->
        <logger name="ru.kharevich" level="DEBUG"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>

    <!-- Конфигурация для PROD профиля -->
    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="LOKI_PROD"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Диагностика Loki -->
    <logger name="com.github.loki4j" level="WARN"/>

</configuration>